.frame4 {
    margin-top: 5vw;
}
.frame4__text {
    text-align: center;
    h1 {
        font-size: 3vw;
        letter-spacing: 0.25vw;
    }
    p {
        margin-top: 3vw;
        margin-bottom: 3vw;
        font-size: 1.5vw;
        font-weight: lighter;
    }
    a {
        font-size: 1vw;
        font-weight: bolder;
        text-decoration: none;
        color: black;
        letter-spacing: 0.15vw;
    }
}
.frame4__photos {
    padding-top: 3vw;
    padding-bottom: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .frame4__photos_img {
        width: 20vw;
    }
}